<h1>英訳した文章を要約しよう！</h1>

<%= form_with(model: @summary, local: true) do |form| %>
  <div class="en_form">
    <div class="ja_text">
      <%= @en_diary %>
    </div>
    <%= form.text_area :body, class: "en_text_area"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>