<%= render 'new_form' %>
<ul class="page-ul">
  <li>
    <span id="nextpage">前のページ</span>
  </li>
  <li>
    <span id="prevpage">次のページ</span>
  </li>
  <li>
    <span id="more_nextpage">さらに前のページ</span>
  </li>
  <li>
    <span id="more_prevpage">さらに次のページ</span>
  </li>
</ul>
