<h1>日本語で書いた日記を英訳しよう！</h1>

<%= form_with(model: @en_diary, local: true) do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>