<%= @current_user.name %>


<div id="new-botton">日記を作成</div>

<div id="new">
  <%= render 'new' %>
</div>


<div id="show-botton">
  日記を見る
</div>

<div id="show">
  <%= render 'show' %>
</div>




<!-- ボタンを押したら、日記が表示され、かつ、日記を作成ボタンが表示
日記を作成ボタンを押したら日記作成画面が表示 -->

