<h1>日本語で日記を書きましょう！</h1>

<%= form_with(model: @ja_diary, local: true) do |form| %>
  <div class="ja_form">
    <%= form.text_area :body, class: "ja_text_area", required: true %><!-- required: trueと書くことで、jsで送信できなくする -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
