/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {

 }
 .form {
  background-image: url("diary_form.jpg");
  background-size: contain;
  height: 680px;
  width: 1100px;
  margin: 0 auto;/*formを中央に*/
 }
 .ja_form {
  background-image: url("diary_form.jpg");
  background-size: contain;
  height: 680px;
  width: 1100px;
  margin: 0 auto;/*formを中央に*/

}
.ja_text_area {
  height: 500px;
  width: 300px;
  padding: 50px;
  opacity: 0.5;/*透明度*/
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 20px;
  margin: 25px 0 0 125px;/*top right bottom left*/
}
.en_form {
  background-image: url("diary_form.jpg");
  background-size: contain;
  height: 680px;
  width: 1100px;
  margin: 0 auto;/*formを中央に*/
}
.ja_text {
  height: 500px;
  width: 300px;
  padding: 50px;
  opacity: 0.5;/*透明度*/
  border-radius: 20px;
  font-size: 20px;
  margin: 25px 0 0 125px;/*top right bottom left*/
  float: left;
  overflow: scroll;
}
.en_text_area {
  height: 500px;
  width: 300px;
  padding: 50px;
  opacity: 0.5;/*透明度*/
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 20px;
  margin: 25px 0 0 70px;/*top right bottom left*/
  float: left;
}
.actions {
  
}

#page_turn {
  height: 650px;
  width: 920px;
  margin: 0 auto;
}
#edit_page_turn {
  height: 650px;
  width: 920px;
  margin: 0 0 0 90px;

}

#new_page_turn {
  height: 650px;
  width: 920px;
  margin: 0 0 0 90px;
  /*float: right;*/

}

ul {
  text-align: center;
  list-style: none;
  width: 100%;
  margin-bottom: 30px;
}

ul li {
  width: 50%;
  float: left;
}

ul::after {
  content: "";
  display: block;
  clear: both;
}

#prevpage, #nextpage, #more_prevpage, #more_nextpage {
  cursor: pointer;
}

.text_image {
  position: relative;
  height: 640px;
  width: 800px;
  overflow: scroll;
  /*大きさを指定して、その外に出たらoverflow？*/
}

.img {
  height: 630px;
  width: 450px;
  font-size: 20px;
  margin: 10px 0 0 10px;/*top right bottom left*/
}

.text_image p.summary_time {
  position: absolute;
  top: 5%;
  left: 20%;
  font-size: 20px;
  color: black;
}


.text_image p.summary_body {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 18px;
  color: black;
} 

.edit_form {
  position: absolute;/*画像と重ねる*/
  height: 360px;
  width: 280px;
  padding: 50px;
  /*opacity: 0.5;透明度*/
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 20px;
  margin: 0px 0 0 0px;/*top right bottom left*/
}


.edit_img {
  height: 630px;
  width: 450px;
  font-size: 20px;
  margin: 10px 0 0 10px;/*top right bottom left*/
}

.explanation {
  position: absolute;/*画像と重ねる*/
  height: 360px;
  width: 280px;
  font-size: 15px;
  margin: 0px 0 0 90px;/*top right bottom left*/
}

.text_image p.explanation_body {
  position: absolute;
  top: 20%;
  left: 8%;
  font-size: 15px;
  color: black;
} 

.js_realtime_ja {
/*  overflow: scroll;*/
  /*できない*/
}











